/* -------  General Styles ------- */
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 10px 10px 10px;
  text-align: center;
  letter-spacing: .05rem;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 0;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}


nav > ul {
  display: flex;
  justify-content: center;
}



/* #stay */

#stay {
  padding: 5%;
  display: flex;
}

/* #about section */

#about {
 /* padding: 5.2% 8% 7%;*/
  padding: 5.2% 7.5% 7.75%;
  gap: 1.5rem;
}

#about > img {

}

#about > p {

}
#about > h2 {
  margin: 0;
}

/* #host section */

#host {
  /*display: flex;
  flex-direction: column;*/
  padding: 8% 7.75% 7.5%;
}

#host > img {
  margin-top: 1.5rem;
  margin-bottom: 0;
}



/* #ideas section */

#ideas > h3 {
  /*font-size: medium;
  letter-spacing: .03rem;*/
  font-weight: 600;
}
#ideas {
  padding: 5% 12% 7.75%;
}

h3:nth-of-type(1) {
  margin-top: 11%;
}

#ideas > img {
  margin-bottom: 13%;
}
#ideas > .last-pic {
  margin-bottom: 0;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  align-items: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-weight: 600;
  letter-spacing: .03rem;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  padding: 5.75% 5.5% 3%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form > div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
  display: flex;
  /*margin-bottom: 39%;
  padding: 7.5% 0 45%;
    padding: 0 0 39% 0;
    padding: 1.5em 0 10em;*/
    font-weight: bolder;
    letter-spacing: .04rem;
  justify-content: center;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  /*flex: 1;
  padding: 10% 0 55% 0;
    padding: 0 0 40% 0;
    padding: 5.75% 0 40%;
    margin: 15% 0;
    */
}

/* -------  Media Query ------- */
/*@media all and (width:375px) and (height: 667px) {
  
  .logo {
    font-size: 65px;
  }

  footer p {
    padding: 5.9% 0 31.5%;
  }
}

@media all and (width:360px) and (height: 740px) {
 
  .logo {
    font-size: 65px;
  }

  header nav ul li a {
    font-size: medium;
  }

  footer p {
    padding: 7% 0 54%;
  }
}

@media all and (width:540px) and (height: 720px) {
  footer p {
    padding: 5% 0 39.25%;
    font-size: large;
  }
}

@media all and (width:280px) and (height: 653px) {
  
  h2 {
    letter-spacing: 0;
  }


  header {
    display: block;
  }


   header > nav  {
    display: flex;
  }

  form {
    padding: 6% 3% 4%;
  }

  form > div {
    align-items: baseline;
  }

  .logo {
    font-size: 45px;
  }

  #stay {
    padding: 5% 0;
  }

  footer p {
    padding: 6% 0 48.5%;
  }
}

*/


@media all and (min-width: 768px) {
    /* Start of header */
    .header {
      flex-direction: row;
      padding: 1.5%;
      align-items: center;
      justify-content: space-between;
    }
  
    header > ul {
      margin: 0;
    }
  
  
    .logo {
      font-size: 2.4rem;
    }
    
   
    header nav ul li a {
      /*font-size: smaller;*/
      font-weight: 100;
    }
  
    /*End of header*/
  
   /* Beginning of #stay section */
  
  #stay {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 1.25% 0 0;
    padding: 0;
  }
  
  #stay > h2 {
    margin-bottom: 5px;
    margin-bottom: 0;
  }
  
  form {
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    gap: 3%;
    padding: .1% .75% 0% 1.5%;
    align-items: center;
    margin: 1.25% 0 2.75%;
  }
  .location-div, .arrive-div, .depart-div, .form-last-div {
    
  }
  
  
  #location {
    width: 100%;
  }
  
  #arrive, #depart {
    width: 100%;
  }
  #type {
    width: 115%;
  }
  /*#arrive, #depart, #type, #date {
    width: 200px;
  }*/
  
  
  form > div {
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
  }
  
  #stay > form > div > input {
    margin-bottom: 21px;
  }
  
  form > button {
    padding: .7rem 1rem;
    font-size: 1.3rem;
    width: 12%;
  } 
  
  /* Beginning of "#about" 'section' */
  #about {
  justify-content: center;
  padding: 1% 3% 2% 1%;
  align-items: center;
  gap: 0;
  
  }  
  
  .about-content-div {
    display: flex;
    margin-top: 1%;
    padding-right: 1.25%;
    gap: 10px;
    align-items: center;
  }
  
  #about > .about-content-div > img {
    width: 24%;
  }
  
  /* End of "#about" 'section'. */
  
  /* Beginning of "#ideas" 'section'. */
  #ideas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1% 3% 2%;
  }
  
  
  .grid {
  display: flex;
  gap: 25px;
  }
  
  #ideas > img {
  margin-top: 5%;
  }
  
  #ideas > h2 {
  margin-bottom: 2.5%;
  }
  
  h3:nth-of-type(1) {
  margin-top: 0;
  margin-bottom: 2%;
  }
  /* End of "#ideas" 'section'. **/
  
  /* Beginning of "#host" 'section' tag. */
  #host {
  padding: 2% 1.75% 2.25%;
  }
  
  .host-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  }
  
  .host-info-div {
  flex: 1;
  }
  
  #host > .host-div > img {
  flex: 1;
  width: 45%;
  }
  
  /*End of "#host" 'section' tag. */
  
  /* Beginning of footer */
  footer p {
    padding: 1.5% 0 1.5%;
    font-weight: 100;
  }
  
  /* End of footer */
  }
  
 